@import "nib"

.dote_
  &h
  &f
    padding 1em
    background-color #efefef
    font-size 95%
  &h
    border-bottom 2px solid #ccc
    line-height 1.4em
  &f
    border-top 2px solid #ccc
    hr
      display none
  &l
    font-weight bold
  &t
  &u
  &d
  &n
    border 1px solid #ccc
    background-image linear-gradient(white 0px, rgba(white, 0) 3px, rgba(white, 0.5) 100%)
    box-shadow 0 1px 1px rgba(black, 0.15)
    text-shadow 0 1px 1px rgba(white, 0.75)
    border-radius 2px
    padding 0 3px 0
  &t
    background-color #ddd
  &u
    background-color #bcf4c3
  &d
    background-color #f4bcbc
  &n
    background-color #f4e0bc