@import "nib"

topic-border-color = #c0c6cc
topic-bg-color = white

.doteTopicComment
  background-color topic-bg-color
  padding 1em
  &Header
    font-size 12px
    border-bottom 1px solid topic-border-color
    padding 3px
  &Text
    font-size 12px
    margin 0 0.75em
  &Right
    float right
    a
      text-decoration none
      color black
      transition-duration 0.3s
      &:hover
        color #0060bf
        transition-duration 0.3s
  &Moment
    padding-right 6px
  &Label
    display none
