extends main

prepend head
  title = "dote Add Topic"

block scripts
  script(type="text/javascript")
    dojoConfig = {
      async: 1,
      isDebug: 0,
      baseUrl: "/src",
      packages: [{
        name: "dojo",
        location: "dojo"
      },{
        name: "dijit",
        location: "dijit"
      },{
        name: "moment",
        location: "moment"
      },{
        name: "marked",
        location: "marked/lib"
      },{
        name: "hljs",
        location: "hljs"
      },{
        name: "dote-client",
        location: "dote-client"
      }],
      deps: ["dote-client/addTopic"]
    };
    dote = {
      username: "#{username}"
    };
  script(type="text/javascript", src="/src/dojo/dojo.js")

append css
  link(rel="stylesheet", type="text/css", href="/src/hljs/default.css", media="all")

block content
  .header
    .content
      .controls
        ul
          li kitsonk
          li
            a(id="topicList", href="/")
              i(class="icon-reorder")
              | list
          li 
            a(id="newTopic", href="/add")
              i(class="icon-comment-alt")
              | new
          li
            a(id="help", href="/help")
              i(class="icon-question-sign")
              | help
          li
            a(id="logout", href="/logout")
              i(class="icon-signout")
              | logout
      .title dote
      .subtitle Dojo Topic Discussion
      .clear
  .main
    #topic

  .footer
    .content Copyright &copy; 2012 Dojo Foundation &mdash; All Rights Reserved