extends main

prepend head
  title = app.title + " Login"

block scripts
  script(type="text/javascript")
    dojoConfig = {
      async: 1,
      isDebug: 0,
      baseUrl: "/#{base}",
      packages: [{
        name: "dojo",
        location: "dojo"
      },{
        name: "dijit",
        location: "dijit"
      },{
        name: "dojox",
        location: "dojox"
      },{
        name: "dote",
        location: "dote"
      },{
        name: "dote-client",
        location: "dote-client"
      }],
      deps: ["dote-client/login"]
    };
  script(type="text/javascript", src="/#{base}/dojo/dojo.js")

block content
  .loginbox
    form(id="loginForm")
      h1 #{app.title}
      h2 #{app.subtitle}
      #warn.warning
        | Incorrect username or password
      table
        tbody
          tr
            th
              label(for="username") Username:
            td
              input#username(type="text", name="username")
          tr
            th
              label(for="password") Password:
            td
              input#password(type="password", name="password")
          tr
            td(colspan="2")
              button#submit(type="submit") Login
    p If you need an account, please <a href="/signup">sign up</a> for one.
