extends main

prepend head
  title = "dote Logout"

block content
  .loginbox
    h1 dote
    h2 Dojo Topic Discussion
    #warn.message
      | You have been logged out.
    p
      | Click <a href="/login">here</a> to log back in.
