extends main

prepend head
  title = app.title + " Logout"

block content
  .loginbox
    h1 #{app.title}
    h2 #{app.subtitle}
    #warn.message
      | You have been logged out.
    p
      | Click <a href="/login">here</a> to log back in.
