br
hr
address Powered by 
  a(href="http://nodejs.org/", target="_blank") node.js
  | , 
  a(href="http://expressjs.com/", target="_blank") express
  | , 
  a(href="http://jade-lang.com/", target="_blank") jade
  | , 
  a(href="http://learnboost.github.com/stylus/", target="_blank") stylus
  |  and 
  a(href="http://dojotoolkit.org/", target="_blank") Dojo Toolkit
  | .
