doctype 5
html
  head
    title Testing E-Mail Formatting
    link(rel="stylesheet", type="text/css", href="/src/dote-server/resources/messages.css")

  body
    div.dote_h
      table
        tbody
          tr
            td.plus +1
            td.minus -2
          tr
            td kitsonk
            td Total
      span.dote_l Owner: 
      span kitson
      br
      span.dote_l Status: 
      span Open
      br
      span.dote_l Tags: 
      span.dote_t dojo
      |  
      span.dote_t dijit
    p comment text goes here
    div.dote_f
      a(href="http://example.com") Website
      |  | 
      a(href="mailto:example@example.com") Add Topic