@import "nib"

item-line-color = #c0c6cc
item-bg-color = #e4ebf2
plus-bar-color = #32b512
neutral-bar-color = #ffd83b
minus-bar-color = #ff0516
button-color = #bcd8f4
button-hover-color = #86bdf2
status-active-color = #e0f0ff
status-inactive-color = #eee
tag-color = #ddd
plus-color = #bcf4c3
minus-color = #f4bcbc
neutral-color = #f4e0bc

.doteTopicItem
  border-bottom 1px solid item-line-color
  background-color item-bg-color
  background linear-gradient(top, lighten(item-bg-color, 75%), item-bg-color 80%)
  padding 0.5em 0 0 0
  width 924px
  &Vote
    &Container
      float left
      width 150px
    &Inner
      padding 0.5em
    &Buttons
      width 100%
    &Up
    &Neutral
    &Down
      background-color button-color
      background-image linear-gradient(white 0px, rgba(white, 0) 3px, rgba(white, 0.5) 100%)
      border 1px solid darken(button-color, 40%)
      border-radius 2px
      box-shadow 0 1px 2px rgba(black,0.5), inset 0 0 1px rgba(white,0.5)
      color #050505
      display inline-block
      font-size 11px
      margin 6px 0 0 0
      padding 3px 0 2px
      text-align center
      text-decoration none
      text-shadow 0 1px 1px rgba(white,0.75)
      transition-duration 0.3s
      width 41px
      > span
        display none
      &Hover
        background-color button-hover-color
        background-image linear-gradient(white 0px, rgba(white, 0) 3px, rgba(white, 0.5) 100%)
        transition-duration 0.2s
      &Active
        background none
        background-color button-color
        box-shadow 0 0 1px rgba(black,0.75)
        transition-duration 0.2s
    &Selected
      background none
      background-color button-color
      box-shadow 0 0 1px rgba(black,0.75)
  &Votes
    font-size 48px
    text-align center
  &Spark
    border 1px solid #555
    border-radius 2px
    box-shadow 0 1px 2px rgba(black,0.5), inset 0 0 1px rgba(white, 0.5)
    table
      border-collapse collapse
      width 100%
      tr
        height 12px
    &Plus
      background linear-gradient(bottom, darken(plus-bar-color, 30%), plus-bar-color 60%)
    &Neutral
      background linear-gradient(bottom, darken(neutral-bar-color, 30%), neutral-bar-color 60%)
    &Minus
      background linear-gradient(bottom, darken(minus-bar-color, 30%), minus-bar-color 60%)
  &VoteButtons
  &TagsContainer
  &VotersContainer
    ul
      margin 0
      padding 0
      display inline
      > li
        list-style-type none
        display inline
  &Content
    &Container
      float right
      width 770px
    &Inner
      padding 1em
  &Title
    font-size 26px
    a
      text-decoration none
      transition-duration 0.3s
    &Hover a
      color #0060bf
      transition-duration 0.3s
  &Status
    width 130px
    float right
    text-align center
    border-radius 4px
    box-shadow 0 1px 2px rgba(black,0.5), inset 0 0 1px rgba(white,0.5)
    padding 0.5em
    &
    &Inactive
      border 1px solid darken(status-inactive-color, 50%)
      background linear-gradient(top,status-inactive-color,lighten(status-inactive-color, 75%))
      background-color status-inactive-color
    &Active
      border 1px solid darken(status-active-color, 50%)
      background linear-gradient(top,status-active-color,lighten(status-active-color, 75%))
      background-color status-active-color
  &Action
    font-size 18px
    padding 0.2em
    text-shadow 0 1px 1px rgba(black, 0.15)
    text-transform capitalize
  &Owner
    font-size 12px
    font-weight bold
    line-height 2em
  &CommentCount
    font-size 14px
    line-height 2em
  &Description
    padding 6px 1em 0 0
    overflow ellipsis
  &Tags
  &Voters
    &Container
      font-size 12px
      line-height 2em
      margin 6px 0
      i
        padding 3px
      ul > li
        border-radius 2px
        box-shadow 0 1px 1px rgba(black, 0.15)
        color #050505
        margin 0 0.5em 0 0
        padding 1px 6px
        text-shadow 0 1px 1px rgba(white, 0.75)
  &TagsContainer
    ul > li
      background linear-gradient(top,white 0px,tag-color 3px,lighten(tag-color, 20%) 100%)
      background-color tag-color
      border 1px solid darken(tag-color, 40%)
  &Voter
    &Plus
      background linear-gradient(top,white 0px,plus-color 3px,lighten(plus-color, 20%) 100%)
      background-color plus-color
      border 1px solid darken(plus-color, 40%)
    &Minus
      background linear-gradient(top,white 0px,minus-color 3px,lighten(minus-color, 20%) 100%)
      background-color minus-color
      border 1px solid darken(minus-color, 40%)
    &Neutral
      background linear-gradient(top,white 0px,neutral-color 3px,lighten(neutral-color, 20%) 100%)
      background-color neutral-color
      border 1px solid darken(neutral-color, 40%)
  &HeightContainer
    clear both
    font-size 1px
