
#topicGrid
	.field-id
		font-family "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace
		width 230px
	.field-author
	.field-owner
		width 70px
	.field-created
	.field-actioned
		width 100px
	.field-action
		width 60px
	.field-voters
		width 40px
		text-align center
	.field-commentsCount
		width 32px
		text-align right
