@import "../../src/dijit/themes/claro/claro.css"
@import "../../src/dijit/themes/claro/document.css"
@import "../../src/dote-client/resources/TopicList.css"
@import "../../src/dote-client/resources/Topic.css"
@import "../Font-Awesome/css/font-awesome.css"
@import "nib"

login-border-color = #b5bcc7
login-bg-color = #e4ebf2

.loginbox
  margin 6em auto
  width 360px
  padding 1em
  border 1px solid login-border-color
  border-radius 3px
  background-color login-bg-color
  background-image linear-gradient(top, rgba(white, 0.8), rgba(white, 0) 100px)
  box-shadow 0 0 1px rgba(black,0.75)
  h1
  h2
    text-align center
  h1
    font-size 24px
    margin-bottom 6px
  h2
    font-size 18px
    margin-top 6px
    margin-bottom 24px
  table
    margin 0 auto
  th
    text-align right
    padding-right 0.5em
  table tr:last-child
    text-align center
  > p
    text-align center